{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<head>
    <link rel="stylesheet" href="{{ asset('css/style.css')}}">
  </head>
<form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}

    <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
     <div class="container">
    <label for="inputEmail"><br>Email</label>
    <br><input type="email" name="email" id="inputEmail" class="form-control" autocomplete="current-email" required><br/>
    <label for="inputPassword"><br>Password<br/></label>
    <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required><br/>

    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >

    {#
        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
        See https://symfony.com/doc/current/security/remember_me.html

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Remember me
            </label>
        </div>
    #}

    <BLOCKQUOTE><button type="submit">Login</button></BLOCKQUOTE>
    <label>
      <input type="checkbox" checked="checked" name="remember"> Remember me
    </label>
    </div>
    <div class="container" style="background-color:#f1f1f1">
    <button type="button" class="cancelbtn">Cancel</button>
    <span class="psw">Forgot <a href="#">password?</a></span>
  </div>
</form>


{% endblock %}
